
h1{
    font-family: Courier New;
    text-align: center;
    padding:20px
}
img.a{
     vertical-align:baseline;
}
img.b{
    border-radius: 25px;
    width:150px;
    height:150px;
    object-fit:cover;
}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.button{
   font-size:10px;
   padding: 5px 10px;
   border-radius:8px;
   background-color:lightblue;
}
.col-7 #slogan2 {
   
    font-family: Arial;
    padding-bottom:50px;
    text-align: center;
}
.col-7 #slogan1{
   font-family:cursive;
   color:lightgreen;
   text-align: center;
   line-height:0.5px;

}
.des{
    font-family:Times New Roman;
}
.col-4{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.col-6{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}