
h1{
    font-family: Courier New;
    text-align: center;
    padding:20px
}
img.a{
     vertical-align:baseline;
}
img.b{
    border-radius: 25px;
    max-height:100%;
    max-width:100%;
    object-fit:scale-down;
}
img.c{
    border-radius: 25px;
    max-height:100%;
    max-width:100%;
    object-fit:scale-down;
   
}
img.d{
    border-radius: 25px;
    max-height:100%;
    max-width:100%;
    object-fit:scale-down;
}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
img.e{
    border-radius: 25px;
    max-height:100%;
    max-width:100%;
    object-fit:scale-down; 
}
.slogan{
    font-family:cursive;
    margin-bottom:0.7px;

    
}
.button{
   font-size:10px;
   padding: 5px 10px;
   border-radius:8px;
}
.slogan #slogan2 {
    margin:auto;
    font-family: Georgia;
    margin-bottom:20px;
}
.col-4{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.col-6{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}